<footer id="footer-section" class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="widget">
            <div class="widget-inner">
              <div class="widget-title-outer">
                <h3 class="widget-title">About Us</h3>
              </div>
              <p>Lusioto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
              <p><a href="#" class="more">Learn More</a></p>
            </div><!-- end inner -->
          </div><!-- end widget -->
        </div>
  
  
  
        <div class="col-md-4">
          <div class="widget">
            <div class="widget-inner">
              <div class="widget-title-outer">
                <h3 class="widget-title">Services Offered</h3>
              </div>
              <ul class="list-galleries">
                <li>
                  AC Repair
                </li>
                <li>
                  Regular Service
                </li>
                <li>
                  Dent Repair
                </li>
                <li>
                  Wheel Alignment
                </li>
                <li>
                  AC Repair
                </li>
                <li>
                  Regular Service
                </li>
                <li>
                  Dent Repair
                </li>
                <li>
                  Wheel Alignment
                </li>
  
  
              </ul>
            </div><!-- end inner -->
          </div><!-- end widget -->
        </div>
        <div class="col-md-4">
          <div class="widget">
            <div class="widget-inner">
              <div class="widget-title-outer">
                <h3 class="widget-title">Office Address</h3>
              </div>
  
              <table>
                <tr>
                  <td><strong>Location</strong></td>
                  <td> : Kaliurang St. No 104, Sinduharjo, <br/>&nbsp;&nbsp;Ngaglik, Sleman.</td>
                </tr>
                <tr>
                  <td><strong>Telp</strong></td>
                  <td> : 0274 9982732</td>
                </tr>
                <tr>
                  <td><strong>Email</strong></td>
                  <td> : <a href="mailto:staff@localhost.net">staff@localhost.net</a></td>
                </tr>
                <tr>
                  <td><strong>Time</strong></td>
                  <td> : 08:00 AM &dash; 16:00 PM</td>
                </tr>
              </table>
            </div><!-- end inner -->
          </div><!-- end widget -->
        </div>
      </div>
    </div>
  </footer>
  <div class="footer-credit">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="copy">Website Developed By <a href="https://siliconchild.com">Silicon Child Web Development Studio</a></p>
        </div><!-- end column -->
        <div class="col-md-6">
          <ul class="list-socmed">
            <li>
              <a href="#"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-fw fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-fw fa-youtube"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-fw fa-pinterest"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-fw fa-google-plus"></i></a>
            </li>
          </ul>
        </div><!-- end column -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end footer-credit -->