<header id="masthead" class="site-header navbar-fixed-top">
    <div class="header-navigation">
      <div class="container-fluid">

        <div class="row">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".site-navigation" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="logo navbar-brand">
            <a href="{{site.baseurl}}/index.html">Kaarnama Motors</a>
          </div><!-- end logo -->

          <nav id="primary-navigation" class="site-navigation navbar-collapse collapse" role="navigation">
            <div class="nav-menu">
              <ul class="menu">
                <li class="{% if page.url == '/index.html' %}active{% endif %}"><a href="{{site.baseurl}}/index.html">Home</a></li>
                <li class="{% if page.url == '/services.html' %}active{% endif %}"><a href="{{site.baseurl}}/services.html">Services</a></li>
                <li class="{% if page.url == '/blog.html' %}active{% endif %}"><a href="{{site.baseurl}}/blog">Blog</a></li>
                <li class="{% if page.url == '/faq.html' %}active{% endif %}"><a href="{{site.baseurl}}/faq.html">FAQ</a></li>
                <li class="{% if page.url == '/contact.html' %}active{% endif %}"><a href="{{site.baseurl}}/contact.html">Contact</a></li>

                </ul>
              </div><!-- end nav-menu -->
            </nav><!-- end #primary-navigation -->

            <div class="appoinment-header">
              <a href="{{site.baseurl}}/contact.html" class="btn btn-md btn-default">Make an Appoinment</a>
            </div>

          </div><!-- end row -->

        </div><!-- end container-fluid -->
      </div><!-- end header-navigation -->
    </header><!-- end #masthead -->