---
layout: default
---
<div class="head-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">BLOG PAGE</h2>
                <div class="breadcrumbs">
                    <ul>
                        <li>You're in : </li>
                        <li>Home</li>
                        <li>Blog</li>
                    </ul>
                </div><!-- end breadcrumbs -->
            </div><!-- end column -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end head-title -->

<!-- START CONTENT HERE -->
        <!-- START CONTENT HERE -->
        <div id="main">
            <div class="container">
                <div class="row">
                    <div id="primary" class="content-area">
                        <div id="content" class="site-content">

                            <div class="post format-image hentry">

                                <div class="entry-format">
                                    <div class="entry-meta">
                                        <div class="entry-date">
                                            <a href="#">
                                                <time class="published" datetime="2014-12-13" title="December 13, 2014 - 21:12 pm">Dec<span class="date">13</span>2014</time>
                                            </a>
                                        </div><!-- end entry-date -->



                                    </div><!-- end entry-meta -->
                                </div><!-- end entry-format -->

                                <div class="inner">

                                    <div class="entry-header">
                                        <span class="author vcard">
                                            Posted by <a href="#">{{page.author}}</a>
                                        </span><!-- end author -->


                                    </div><!-- end entry-header -->

                                    <h1 class="entry-title">
                                        <a href="#">{{page.title}}</h1>

                                    <div class="entry-content">
                                        
                                        <figure class="wp-caption">
                                            <img src="{{page.image}}" alt="">
                                            <figcaption class="wp-caption-text">Image Caption : Sample Image from Shutterstock Photos</figcaption>
                                        </figure>
                                        <p>{{page.content}}</p>
                                    </div><!-- end entry-content -->

                                </div><!-- end inner -->

                            </div><!-- end format-image hentry -->

                            <div class="author-wrapper">
                                <h2>About Us</h2>
                                <figure class="author-ava">
                                    <img src="images/content/logo.jpg" alt="">
                                </figure>
                                <div class="author-context">

                                    <div class="author-name">
                                        <a href="#">Kaarnama Motors</a>
                                    </div><!-- end auth-name -->

                                    <div class="author-content">
                                        <p>Hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                    </div>

                                </div><!-- end author-wrapper -->
                            </div><!-- end author-area -->

                            <div class="related-content">
                                <h2>Related Content</h2>
                                <div class="row">

                                    <div class="col-md-4">
                                        <figure>
                                            <img src="images/content/blog-thumb-01.jpg" alt="">
                                        </figure>
                                        <div class="related-title">
                                            <h3><a href="#">Claritas est etiam processus dynamicus</a></h3>
                                        </div>
                                    </div><!-- end column -->

                                    <div class="col-md-4">
                                        <figure>
                                            <img src="images/content/blog-thumb-01.jpg" alt="">
                                        </figure>
                                        <div class="related-title">
                                            <h3><a href="#">Claritas est etiam processus dynamicus</a></h3>
                                        </div>
                                    </div><!-- end column -->

                                    <div class="col-md-4">
                                        <figure>
                                            <img src="images/content/blog-thumb-01.jpg" alt="">
                                        </figure>
                                        <div class="related-title">
                                            <h3><a href="#">Claritas est etiam processus dynamicus</a></h3>
                                        </div>
                                    </div><!-- end column -->

                                </div><!-- end row -->
                            </div><!-- end related-content -->

              
                        </div><!-- end #content -->

                    </div><!-- end #primary -->

                    <div id="secondary" class="col-md-4">


                        <div class="widget post-type-widget">
                            <div class="widget-title-outer">
                                <h3 class="widget-title">Recent Posts</h3>
                            </div>
                            <ul>
                                <li>
                                    <figure class="post-thumbnail">
                                        <a href="#"><img src="images/content/thumb-post-01.jpg" alt=""></a>
                                    </figure>
                                    <h2 class="post-title">
                                        <a href="#">Lorem Ipsum Dolor Sit Amet, Consetetuer Adipiscing Elit</a>
                                    </h2>
                                </li>
                                
                            </ul>
                            </div><!-- end widget -->


                            <div class="widget">
                                <div class="widget-title-outer">
                                    <h3 class="widget-title">Our Facebook Page</h3>
                                </div>
                                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true"></iframe>
                            </div><!-- end widget -->

                    </div><!-- end #secondary -->

                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- #main -->
        <!-- END CONTENT HERE -->
