---
layout: default
---


<!-- START CONTENT HERE -->
        <!-- START CONTENT HERE -->
        <div class="blog-inner-main" id="main">
            <div class="container">
                <div class="row">
                    <div id="primary" class="content-area">
                        <div id="content" class="site-content">

                            <div class="post format-image hentry">

                                <div class="entry-format">
                                    <div class="entry-meta">
                                        <div class="entry-date">
                                            <a href="#">
                                                <time class="published" >{{ page.date | date: "%B"}}<span class="date">{{ page.date | date: "%-d"}}</span>{{ page.date | date: "%Y"}}</time>
                                            </a>
                                        </div><!-- end entry-date -->



                                    </div><!-- end entry-meta -->
                                </div><!-- end entry-format -->

                                <div class="inner">

                                    <div class="entry-header">
                                        <span class="author vcard">
                                            Posted by <a href="#">{{page.author}}</a>
                                        </span><!-- end author -->


                                    </div><!-- end entry-header -->

                                    <h1 class="entry-title">
                                        <a href="#">{{page.title}}</h1>

                                    <div class="entry-content blk">
                                        
                                        <figure class="wp-caption">
                                            <img src="{{site.baseurl}}{{page.image}}" alt="">
                                            
                                        </figure>
                                        <div class="blog-content">{{page.content}}</div>
                                    </div><!-- end entry-content -->

                                </div><!-- end inner -->

                            </div><!-- end format-image hentry -->

                            <div class="author-wrapper">
                                <h2>About Us</h2>
                                <figure class="author-ava">
                                    <img src="{{site.baseurl}}/images/content/logo.jpg" alt="">
                                </figure>
                                <div class="author-context">

                                    <div class="author-name">
                                        <a href="#">Kaarnama Motors</a>
                                    </div><!-- end auth-name -->

                                    <div class="author-content">
                                        <p>Hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                    </div>

                                </div><!-- end author-wrapper -->
                            </div><!-- end author-area -->


              
                        </div><!-- end #content -->

                    </div><!-- end #primary -->

                    <div id="secondary" class="col-md-4">
                        
                                               
                        
                                                <div class="widget post-type-widget">
                                                    <div class="widget-title-outer">
                                                        <h3 class="widget-title">More Posts</h3>
                                                    </div>
                                                    <ul>
                                                        {% for post in site.related_posts limit:5 %}
                                                        <li>
                        
                                                            <figure class="post-thumbnail">
                                                                <a href="{{site.baseurl}}{{post.url}}"><img src="{{site.baseurl}}{{post.image}}" alt=""></a>
                                                            </figure>
                                                            <h2 class="post-title">
                                                                <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
                                                            </h2>
                                                        </li>
                                                    {% endfor %}                  
                                                    </ul>
                                                    </div><!-- end widget -->
                        
                        
                        
           
                        
                                            </div><!-- end #secondary -->



                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- #main -->
        <!-- END CONTENT HERE -->
